In [32]:
import pandas as pd

In [33]:
# Importing dataset
folder_location = 'data'
trains = pd.read_csv(open(folder_location + '\CTA_-_Ridership_-__L__Station_Entries_-_Monthly_Day-Type_Averages___Totals.csv'))

In [34]:
trains.shape

(32473, 7)

In [35]:
trains.columns

Index(['station_id', 'stationame', 'month_beginning', 'avg_weekday_rides',
       'avg_saturday_rides', 'avg_sunday-holiday_rides', 'monthtotal'],
      dtype='object')

In [36]:
print('Unique Station ID: ' + str(len(trains['station_id'].unique())))

Unique Station ID: 147

In [37]:
trains = trains.drop(labels=['stationame', 'avg_weekday_rides', 'avg_saturday_rides', 'avg_sunday-holiday_rides'], axis=1)

In [38]:
# month = []
year = []
for index, row in trains.iterrows():
  # month.append(row['month_beginning'][:2])
  year.append(row['month_beginning'][6:])

# trains['month'] = month
trains['year'] = year

In [39]:
# trains = trains.drop(labels=['month_beginning', 'month'], axis=1)
trains = trains.drop(labels=['month_beginning'], axis=1)

In [40]:
df = trains.groupby(['station_id', 'year']).mean().reset_index()
df.columns = ['station_id', 'year', 'avg_ridership']
df.avg_ridership = df.avg_ridership.round()

In [41]:
df

      station_id  year  avg_ridership
0          40010  2001        38855.0
1          40010  2002        40928.0
2          40010  2003        41670.0
3          40010  2004        40385.0
4          40010  2005        40838.0
...          ...   ...            ...
2707       41690  2018        45288.0
2708       41690  2019        47060.0
2709       41700  2017       203398.0
2710       41700  2018       264907.0
2711       41700  2019       260506.0

[2712 rows x 3 columns]

In [42]:
df.to_csv(r'data\trains_dataset.csv')